body {
  background: linear-gradient(
    to bottom,
    #49a2b4,
    #41abb9,
    #3ab4bb,
    #37bcbd,
    #38c5bc
  );
  width: 100%;
  height: 100vh;
  background-size: cover;
  justify-content: center;
  font-family: "Baloo Tammudu 2", cursive;
  color: white;
  margin: auto;
}

/* Search Bar */
.search-bar {
  background-color: transparent;
  width: 60%;
  border: none;
  margin: 1% 15%;
  padding: 2% 10% 2% 3%;
}

.search-bar #city-input {
  text-align: left;
  width: 95%;
  font-size: 3.5 rem;
  line-height: 1.5;
  border-radius: 10px;
  border: solid #fff;
  color: black;
}

#searchbtn {
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
  border: solid #fff;
  color: #fff;
  padding: 1px 2px;
  position: absolute;
  margin: 0 1%;
}

#currentbtn {
  width: 14%;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
  border: solid #fff;
  color: #fff;
  position: absolute;
  margin: 0 6%;
  padding: 1px 2px;
}

/* Monday Info */
.cloudy {
  width: 60%;
  transform: rotate(25deg);
}
#monday {
  border: solid #fff;
  margin: 1% 15%;
  border-radius: 10px;
  padding: 2% 5%;
}

#date {
  font-size: 2 rem;
}

h3 #temp {
  font-size: 10 rem;
  line-height: 1.5;
}

#celcius,
#fahrenheit {
  cursor: pointer;
}

/* Other Daty Info */
#other-day {
  border: solid #fff;
  margin: 2% 15%;
  border-radius: 10px;
  padding: 2% 5%;
}
/* Footer */
#footer {
  padding: 2% 15% 5%;
  text-align: center;
}
